.content1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content:  space-between;
}
.content1 >div{
    background-color: darkgray;
    padding: 10px 20px;
    width: 100px;
    margin: 10px;
}
.c2{
    flex-grow: 2;
  }
.c3{
    flex-grow: 4;
    color: #ffffff;
    text-align: right;
}
.content2{
    margin: 20px 10px;
}
.horizontalline{
    height: 2px;
    background-color: darkgray;
    margin: 0 10px;
}
.aside{
    background-color: darkgray;
    color: white;
}
.upper>div{
    margin: 10px;
}
.textblock{
    background-color: #dadada;
    color: black;
}

.uppercontent{
    display: flex;
    align-items: flex-start;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.square{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #dadada;


}
