.elementWr{
    margin: 5px;
    border: 1px solid grey;
}
.btn{
    background-color: blue;
    color: white;
}
.active{
    margin: 5px;
    color: blue;
    border: 1px solid grey;
}
.notActive{
    margin: 5px;
    color: grey;
}
.pagContainer{
    display: inline-flex;
}
.pagContainer:hover{
    cursor: pointer;
}
